*{
  margin:0;
  padding:0;
}

body{
  width: 100%;
  height: 100%;
  background-image:url(../img/paper_background.jpg);
}

/* Importation */

@import 'components/variables';

/* Header */

.header{
  display:grid;
  grid-template-columns: repeat(3, 1fr);

  .header__logo-title{


    .header__logo-title img{
      width: 80px;
      height: 100px;
    }
  }
}